# python extensions

python/venv/Lib
python/venv/Include

python/.idea

*.pyd
*.pyc
*.bat
*.exe
*.exe.manifest
*.dll
*.cfg
*.ps1
python/venv/Scripts/easy_install-*
python/venv/Scripts/pip*-script.py
activate


# java extensions
java/.idea
java/out
java/java.iml

# README
README.html